body {
    background-color: #648181;
}

button {
    background-color: #816464;
    color: whitesmoke;
    font-size: larger;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
  }


  